<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('header') %>
        <main>
            <div class="tolist">
                <a href="/list">リストへすすむ</a>
            </div>
        </main>
    </body>
</html>